*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: rgb(25, 40, 68); */
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    
    color:#8454bc;
    font-weight: bolder;
    font-family:fantasy;
}
.container{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    /* background-color: rgb(36, 64, 85); */
    background-color: rgb(34, 32, 32);
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    /* height: 50%; */
    /* max-width: 600px; */
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.user-input-container{
    display: flex;
    justify-content: space-between;
}

#user-input{
    width: 85%;
    padding: 0.3rem;
    border-radius: 5px;
}

#search-button{
    width: 11%;
    padding: 0.3rem;
    border-radius: 5px;
}

.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #6428a4;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    /* color: white; */
    font-weight: 700;
    background: conic-gradient(#6428a4 var(--progress-degree,0%),#2f283a 0%);
}
.circle span{
    position: relative;
    z-index: 2;
}

.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.stats-card{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

h4{
    font-size: 1rem;
}

.card{
    background-color: #2f283a;
    width: 40%;
    max-width: 290px;
    min-height: 4rem;
    padding: 20px;
    border-radius: 10px;
    font-size: 1rem;
    /* color: black; */

}
